# crontab

# Executar job_daily_report.py todos os dias úteis (segunda a sexta-feira) às 17 horas
0 17 * * 1-5 python /app/job_daily_report.py >> /var/log/cron.log 2>&1

# Executar job_resumo_sprint.py todos os dias úteis (segunda a sexta-feira) às 17 horas
0 17 * * 1-5 python /app/job_resume_sprint.py >> /var/log/cron.log 2>&1

# Executar job_resumo_sprint.py todos os dias úteis (segunda a sexta-feira) às 17 horas
0 17 * * 1-5 python /app/job_resume_project.py >> /var/log/cron.log 2>&1

# Executar job_resumo_sprint.py todos os dias úteis (segunda a sexta-feira) às 17 horas
0 17 * * 1-5 python /app/job_daily_clockify.py >> /var/log/cron.log 2>&1
